doctype html
html
  head
    title Fluenica | Intern - Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .nav-bar
      .content
        ul.nav
          li.nav-item
            a(href="/") Home
<<<<<<< HEAD
=======
          li.nav-item
            a(href="/most-starred") Most Starred
>>>>>>> fd4b03bf00ea1cbf22e124d2c2837ca7f6d5ebf4
    block content
