doctype html
html
  head
    title Fluenica | Intern - Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .nav-bar
      .content
        ul.nav
          li.nav-item
            a(href="/") Home
    block content
